In [ ]:
# Collecting Stock Data for 1 month of period on the minute wise basis

In [1]:
!pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in c:\users\sarab\anaconda\lib\site-packages (0.1.54)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in c:\users\sarab\anaconda\lib\site-packages (from yfinance) (1.0.1)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in c:\users\sarab\anaconda\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\users\sarab\appdata\roaming\python\python37\site-packages (from yfinance) (1.19.0)
Requirement already satisfied, skipping upgrade: requests>=2.20 in c:\users\sarab\anaconda\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\sarab\anaconda\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\sarab\anaconda\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sarab\anaconda\lib\site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\sarab\anaconda\lib\site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\sarab\anaconda\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\sarab\anaconda\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\sarab\anaconda\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)

In [2]:
# Import yfinance
import yfinance as yf

# Get the data for the stock ibm by specifying the stock ticker, start date, and end date
data1 = yf.download('IBM','2020-06-10','2020-06-13', interval='1m')
data1

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-06-09 14:30:00-04:00,131.949997,132.029999,131.929993,132.009995,132.009995,0
2020-06-09 14:31:00-04:00,132.009995,132.139999,132.009995,132.119995,132.119995,3953
2020-06-09 14:32:00-04:00,132.130005,132.229996,132.130005,132.229996,132.229996,7410
2020-06-09 14:33:00-04:00,132.270004,132.300003,132.255005,132.300003,132.300003,4818
2020-06-09 14:34:00-04:00,132.282196,132.375000,132.270004,132.354202,132.354202,6901
...,...,...,...,...,...,...
2020-06-12 14:26:00-04:00,120.290001,120.300003,120.070000,120.070000,120.070000,5777
2020-06-12 14:27:00-04:00,120.129997,120.209999,120.000000,120.209999,120.209999,5484
2020-06-12 14:28:00-04:00,120.134499,120.190002,120.040001,120.159103,120.159103,3277
2020-06-12 14:29:00-04:00,120.199898,120.230003,120.135002,120.155998,120.155998,4585
2020-07-09 11:06:29-04:00,115.599998,115.599998,115.599998,115.599998,115.599998,0

In [3]:
data2 = yf.download('IBM','2020-06-15','2020-06-20', interval='1m')
data2

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-06-15 09:30:00-04:00,119.190002,119.260002,118.849998,118.900002,118.900002,202823
2020-06-15 09:31:00-04:00,119.239998,119.370003,119.099998,119.129997,119.129997,23939
2020-06-15 09:32:00-04:00,119.120003,119.320000,118.959999,118.959999,118.959999,13364
2020-06-15 09:33:00-04:00,118.989998,118.989998,118.639999,118.735001,118.735001,53428
2020-06-15 09:34:00-04:00,118.599998,118.650002,118.290001,118.510002,118.510002,31334
...,...,...,...,...,...,...
2020-06-19 14:26:00-04:00,122.910004,122.949997,122.839996,122.900002,122.900002,70819
2020-06-19 14:27:00-04:00,122.885002,122.900002,122.730003,122.860001,122.860001,20064
2020-06-19 14:28:00-04:00,122.849998,122.940002,122.779999,122.830002,122.830002,25793
2020-06-19 14:29:00-04:00,122.849998,122.879997,122.820000,122.860001,122.860001,12800
2020-07-09 11:06:29-04:00,115.599998,115.599998,115.599998,115.599998,115.599998,0

In [4]:
data3 = yf.download('IBM','2020-06-21','2020-06-27', interval='1m')
data3

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-06-22 09:30:00-04:00,122.120003,122.199997,122.000000,122.000000,122.000000,96971
2020-06-22 09:31:00-04:00,122.220001,122.239998,122.099998,122.110001,122.110001,24601
2020-06-22 09:32:00-04:00,122.095001,122.095001,121.669998,121.849998,121.849998,16295
2020-06-22 09:33:00-04:00,121.769997,121.860001,121.309998,121.321999,121.321999,24954
2020-06-22 09:34:00-04:00,121.349998,121.470001,121.230003,121.309998,121.309998,20152
...,...,...,...,...,...,...
2020-06-26 14:26:00-04:00,117.250000,117.250000,117.150002,117.180000,117.180000,3869
2020-06-26 14:27:00-04:00,117.169998,117.169998,117.000000,117.044998,117.044998,13528
2020-06-26 14:28:00-04:00,117.050003,117.050003,116.980003,116.980003,116.980003,22022
2020-06-26 14:29:00-04:00,116.989998,117.059998,116.940002,117.059998,117.059998,6093
2020-07-09 11:06:31-04:00,115.600098,115.600098,115.600098,115.600098,115.600098,0

In [5]:
data4 = yf.download('IBM','2020-06-29','2020-07-04', interval='1m')
data4

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-06-29 09:30:00-04:00,117.980003,118.639999,117.980003,118.519997,118.519997,96816
2020-06-29 09:31:00-04:00,118.430000,118.449997,118.300003,118.300003,118.300003,9732
2020-06-29 09:32:00-04:00,118.197197,118.197197,117.849998,117.930000,117.930000,10856
2020-06-29 09:33:00-04:00,117.916603,118.080002,117.889999,117.949997,117.949997,9467
2020-06-29 09:34:00-04:00,117.919998,118.183098,117.800003,117.980003,117.980003,7776
...,...,...,...,...,...,...
2020-07-02 15:56:00-04:00,119.480003,119.510002,119.349998,119.370003,119.370003,40919
2020-07-02 15:57:00-04:00,119.370003,119.440002,119.320000,119.389999,119.389999,43772
2020-07-02 15:58:00-04:00,119.410004,119.500000,119.385002,119.459999,119.459999,31018
2020-07-02 15:59:00-04:00,119.500000,119.779999,119.500000,119.779999,119.779999,114029
2020-07-09 11:06:29-04:00,115.599998,115.599998,115.599998,115.599998,115.599998,0

In [6]:
data5 = yf.download('IBM','2020-07-06','2020-07-09', interval='1m')
data5

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-07-06 09:30:00-04:00,121.250000,121.580002,121.239998,121.550003,121.550003,142920
2020-07-06 09:31:00-04:00,121.580002,121.849998,121.279999,121.320000,121.320000,27945
2020-07-06 09:32:00-04:00,121.339996,121.500000,121.070000,121.110001,121.110001,15437
2020-07-06 09:33:00-04:00,121.160004,121.300003,121.029999,121.070000,121.070000,11712
2020-07-06 09:34:00-04:00,121.080002,121.230003,121.030998,121.160896,121.160896,14609
...,...,...,...,...,...,...
2020-07-08 14:26:00-04:00,117.190002,117.230003,117.190002,117.209999,117.209999,2579
2020-07-08 14:27:00-04:00,117.220001,117.221802,117.169998,117.199997,117.199997,5216
2020-07-08 14:28:00-04:00,117.209999,117.254997,117.209999,117.229797,117.229797,9265
2020-07-08 14:29:00-04:00,117.230003,117.379997,117.230003,117.349998,117.349998,16173
2020-07-09 11:06:29-04:00,115.599998,115.599998,115.599998,115.599998,115.599998,0

In [14]:
import pandas as pd
dataset=pd.concat([data1,data2,data3,data4,data5])
dataset

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-06-09 14:30:00-04:00,131.949997,132.029999,131.929993,132.009995,132.009995,0
2020-06-09 14:31:00-04:00,132.009995,132.139999,132.009995,132.119995,132.119995,3953
2020-06-09 14:32:00-04:00,132.130005,132.229996,132.130005,132.229996,132.229996,7410
2020-06-09 14:33:00-04:00,132.270004,132.300003,132.255005,132.300003,132.300003,4818
2020-06-09 14:34:00-04:00,132.282196,132.375000,132.270004,132.354202,132.354202,6901
...,...,...,...,...,...,...
2020-07-08 14:26:00-04:00,117.190002,117.230003,117.190002,117.209999,117.209999,2579
2020-07-08 14:27:00-04:00,117.220001,117.221802,117.169998,117.199997,117.199997,5216
2020-07-08 14:28:00-04:00,117.209999,117.254997,117.209999,117.229797,117.229797,9265
2020-07-08 14:29:00-04:00,117.230003,117.379997,117.230003,117.349998,117.349998,16173
2020-07-09 11:06:29-04:00,115.599998,115.599998,115.599998,115.599998,115.599998,0